@font-face {
    font-family: 'JUST Sans';
    src: url('JUSTSans-Rg.eot');
    src: url('JUSTSans-Rg.eot?#iefix') format('embedded-opentype'),
        url('JUSTSans-Rg.woff2') format('woff2'),
        url('JUSTSans-Rg.woff') format('woff'),
        url('JUSTSans-Rg.ttf') format('truetype'),
        url('JUSTSans-Rg.svg#JUSTSans-Rg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

